<script>
	function theme() {
		document.body.style.setProperty("--theme", "hotpink");
	}
</script>

<style>
	:root {
    	--theme: hotpink;
	}

	.app-container {
		position: absolute;
		display: flex;
		margin: 0;
		padding: 0;

		width: 100%;
		height: 100%;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		background-color: black;
		color: white;
		font-size: 25px;

		width: 250px;
		padding: 25px;

		/* border-radius: 20px 0 0 20px; */
		border-right: 2px solid var(--theme);
	}

	.recent-messages {
		width: auto;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		font-size: 15px;
		padding-right: 25px;

		
	}

	.message-container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;
		background-color: black;
		color: white;
		font-size: 25px;

		/* border-radius: 0 20px 20px 0; */
	}

	.new-chat {
		padding-top: 4px;
		display: flex;
		height: 30px;
		width: 150px;
		background-color: black;
		color:white;

		
		border: 2px solid white;
		border-radius: 8px;
	}

	.conversation {
		padding: 20px;
		margin-top: 5px;
		width: 90%;

		border: 2px solid black;
		border-radius: 8px;
		
		transition: background-color .1s ease-in, border .1s ease-in, color .1s ease-in;
	}

	.conversation:hover {
		background-color: var(--theme);
		border: 2px solid var(--theme);
		color: black;
		border-radius: 8px;
	}

	.conversation.active {
		border: 2px solid var(--theme);
		color: var(--theme);
	}

	.conversation.active:hover {
		background-color: var(--theme);
		border: 2px solid var(--theme);
		color: black;
		border-radius: 8px;
	}

	.header{
		display: flex;
		padding: 25px;
		height: 40px;
		color: var(--theme);

		border-bottom: 2px solid var(--theme);
	}

	/* .header-text:hover {
		background-color: var(--theme);
		color: black;
	} */

	.chat {
		display: flex;
		flex-direction: column-reverse;
		flex-grow: 1;
		overflow: auto;
	}

	.textbox {
		flex: none;
		height: 80px;
		border-top: 2px solid var(--theme);
	}

	.textbox-input {
		color: white;
		font-size: 18px;
		overflow: hidden;
		padding-top: 30px;
		padding-left: 20px;
		background-color: black;
		width: 80%;
		border: none;
		overflow-wrap: normal;

		transition: color .2s ease-in;
	}

	.textbox-input:focus {
		outline: none;
		color: var(--theme);
	}

	.sidebar-header {
		width: 100%;
		padding-bottom: 25px;
		border-bottom: 2px solid rgb(37, 37, 37);
		margin-bottom: 20px;
	}

	.message {
		display: flex;
		background-color: black;
		height: auto;
		margin: 10px 10px 0px 10px;
		padding: 10px;
		font-size: 20px;
		border-bottom: 2px solid rgb(37, 37, 37);
		color: rgb(200, 200, 200);

		transition: background-color .1s ease-in, color .1s ease-in;
	}

	.message:hover {
		background-color: var(--theme);
		color: black;
	}

	.message-outgoing {
		text-align: right;
		justify-content: right;
		display: flex;
		background-color: black;
		height: auto;
		margin: 10px 10px 0px 10px;
		padding: 10px;
		font-size: 20px;
		border-bottom: 2px solid rgb(37, 37, 37);
		color: var(--theme);

		transition: background-color .1s ease-in, color .1s ease-in;
	}

	.message-outgoing:hover {
		background-color: var(--theme);
		color: black;
	}

	.sidebar-footer {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding-top: 20px;
	}
	
	.btn {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		border: 2px solid var(--theme);
		padding-right: 8px;
		padding-bottom: 2px;
		background-color: var(--theme);
		color: white;
		font-size: 24px;

		transition: background-color .1s ease-in, border .1s ease-in;
	}

	.btn:active {
		transform: none;
		border: 2px solid rgb(250, 23, 137);
		background-color: rgb(250, 23, 137);
	}
</style>

<svelte:head>
	<title>Test Application</title>
	<style>
		html, body {
    		height: 100%;
		}
	</style>
</svelte:head>

<div class="app-container">
	<div class="sidebar">
		<div class="sidebar-header"><h>Chats</h></div>

		<div class="recent-messages">
			<div class="conversation">
				<a>Dylan Borror</a>
			</div>
			<div class="conversation">
				<a>Nick Holman</a>
			</div>
			<div class="conversation active">
				<a>Andrew Foster</a>
			</div>
			<div class="conversation">
				<a>Miranda Fox</a>
			</div>
			<div class="conversation">
				<a>Tom Burgman</a>
			</div>
		</div>

		<div class="sidebar-footer"><button class="btn">+</button></div>
	</div>

	<div class="message-container">
		<div class="header">
			<h class="header-text">Andrew Foster</h>
		</div>
		<div class="chat">
			<div class="message">Lorem ipsum dolor sit amet</div>
			<div class="message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
			<div class="message">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<div class="message-outgoing">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<div class="message">Lorem ipsum dolor sit amet</div>
			<div class="message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
			<div class="message">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<div class="message-outgoing">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<div class="message">Lorem ipsum dolor sit amet</div>
			<div class="message-outgoing">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
			<div class="message">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<div class="message-outgoing">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
		<div class="textbox">
			<input type="text" class="textbox-input">
		</div>
	</div>
</div>